<!DOCTYPE html>
<html>
<head>
  <link rel = 'stylesheet' href = 'resources/mystyles.css'>
</head>
  <form align='center'  method="post">
         <label class = 'comment_style'> Blogpost Title: </label> <br>
         <input type="text" name= "blog_title"/> <br>
         <label class = 'comment_style'> Date: <label><br>
           <input type="text" name= "blog_date"><br>
           <label class = 'comment_style'> Blog Content: <label><br>
             <input type="textarea" name= "blog_content"><br>
             <label class = 'comment_style'> Brief Preview of the Blogpost: </label> <br>
         <textarea type="textarea" name= "blog_preview"></textarea><br>
             <label class = 'comment_style'> Link to Article: <label><br>
               <input type="text" name= "blog_link"><br>
         <input class = 'comment_style' type="submit" value="Post to News Page"><br><br>
          <a href="/"> Sign Out </a>

<footer>


</body>
</html>
