<html>
 <head>
   <link rel="stylesheet" href="resources/mystyles.css">
   <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300i,400,600" rel="stylesheet">
  <script src="resources/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
   <!--navigation bar beginning -->
   <ul class="topnav">
     <li><a class="active" href="resources/pages/home.html">Home</a></li>
     <li><a href="/">Blog</a></li>
     <li><a href="resources/pages/contact.html">Contact</a></li>
     <li><a href="resources/pages/projects.html">Projects</a></li>
     <li><a href="resources/pages/aboutme.html">About Me</a></li>
   </ul>
     <!--navigation bar end -->
  <h1> Get to know my work </h1>
<div class="parallax">
<!--  <img src="/resources/images/amyprofile.jpg" alt="profile picture" type="profile" id="profilepic">-->

  <div class="blog-list-wrapper">

    {{ bloglist }}

  </div>
  </div>
 </body>
 <footer>
 </footer>

</html>
